@using ResponseCache.TagHelpers
@{
    ViewData["Title"] = "Privacy Policy";
}

@addTagHelper *, ResponseCache

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<response-cache key="Test" seconds="10">
    @DateTime.Now   
</response-cache>
